/* This css is basic but I found it was a lot more clean than the css
for the last project */

/* This section is mostly the main base element stylings */

body{
	width: 100%;
	height: 95%;
	margin: 0 auto;
	margin-top: 10%;
	background-color: #206EDB;
}

h1{
	font-family: "Georgia", serif;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	color: #EDEEFF;
	padding: 0;
}

h2{
	font-family: "Georgia", serif;
	text-align: center;
	width: 100%;
	color: #EDEEFF;
}

h3{
	font-family: "Georgia", serif;
	text-align: center;
	width: 100%;
}

p{
	font-family: "Georgia", serif;
	text-align: center;
}

button {
	font-family: "Georgia", serif;
	text-align: center;
	display: inline-block;
	padding: 0.1em;
	max-height: 20%;
}

/* This is the navigation bar styling, including making
 all the nav items flexbox stuff. */

nav {
	overflow: auto;
	background-color: #292A38;
	position: fixed; 
	z-index: 100;
	top: 0; 
	width: 100%;
	height: 15%;
}

.flex-container {
	position: fixed;
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	padding: 0;
	margin: 0;
	max-height: 15%;
	align-items: center;
	/*list-style: none;*/
}

.flex-item {
	background: #292A38;
	display: inline-block;
	margin-top: 0;
	line-height: 0;
	color: #EDEEFF;
	font-weight: bold;
	font-size: 1.5em;
	flex-basis: content;
	width: 33%;
	max-height: 100%;
	border: 0.25em solid #EDEEFF;
}

.flex-item:hover {
	background: #3A73C1;
	border-left: 0.25em solid #EDEEFF;
	border-right: 0.25em solid #EDEEFF;
}

/* Modfied Stylings for different colored headings */

.wHead{
	margin-top: 0;
	margin-bottom: 0;
	background: #EDEEFF;
	color: #292A38;
	width: 100%;
	border: 0.25em solid #292A38;
}

.wHead2{
	background: #EDEEFF;
	color: #292A38;
	width: 100%;
}

.bHead{
	background: #EDEEFF;
	color: #292A38;
	width: 90%;
}

/* Styling for the qualifications section including left and right side content */

.qualified{
	color: #EDEEFF;
	overflow: auto;
	border-top: none;
	border-left: 0.25em solid #292A38;
	border-right: 0.25em solid #292A38;
	border-bottom: 0.25em solid #292A38;
	width: 100%;
	height: 100%;
}

.qualified #right{
	float: left;
	padding-left: 5%;
	width: 25%;
	height: 100%;
	text-align: center;
}

.qualified #left{
	float: left;
	width: 60%;
	height: 300px;
	text-align: center;
}

/* These next few sections are all about the stylings of specific sections
for different projects. I tried to make it so there aren't as many hard
outlines on the top and bottom so there's less visual clutter */

/* Cookie project styling */

.cookie{
	background: #292A38;
	color: #EDEEFF;
	overflow: auto;
	border-top: none;
	border-left: 0.25em solid #EDEEFF;
	border-right: 0.25em solid #EDEEFF;
	border-bottom: 0.25em solid #EDEEFF;
	width: 100%;
	height: 100%;
}

.cookie #right{
	float: left;
	padding: 5%;
	width: 30%;
	height: 100%;
	text-align: center;
}

.cookie #left{
	float: left;
	width: 60%;
	text-align: center;
}

/* Exam 1 styling */

.band{
	background: #EDEEFF;
	color: #292A38;
	overflow: auto;
	border-top: none;
	border-left: 0.25em solid #292A38;
	border-right: 0.25em solid #292A38;
	border-bottom: 0.25em solid #292A38;
	width: 100%;
	height: 100%;
}

.band #right{
	float: left;
	padding: 5%;
	width: 30%;
	height: 100%;
	text-align: center;
}

.band #left{
	float: left;
	width: 60%;
	text-align: center;
}

/* XD Project styling */

.XD{
	background: #292A38;
	color: #EDEEFF;
	overflow: auto;
	border-top: none;
	border-left: 0.25em solid #EDEEFF;
	border-right: 0.25em solid #EDEEFF;
	border-bottom: 0.25em solid #EDEEFF;
	width: 100%;
	height: 100%;
}

.XD #left{
	float: left;
	width: 60%;
	height: 100%;
	text-align: center;
}

.XD #right{
	padding: 5%;
	float: left;
	width: 30%;
	text-align: center;
}

/* Metz Rebuild project styling */

.rebuild{
	background: #EDEEFF;
	color: #292A38;
	overflow: auto;
	border-top: none;
	border-left: 0.25em solid #292A38;
	border-right: 0.25em solid #292A38;
	border-bottom: 0.25em solid #292A38;
	width: 100%;
	height: 100%;
}

.rebuild #left{
	float: left;
	width: 60%;
	height: 100%;
	text-align: center;
}

.rebuild #right{
	padding: 5%;
	float: left;
	width: 30%;
	text-align: center;
}

/* Page Begins and ends on the same color */

footer {
	background-color: #206EDB; 
	color: #EEE5E9 ;
	text-align: center;
	padding: 0.5em;
	width: 100%;
}


#content{
	overflow: auto;
	height: 100%;}

#nav. #feature. #footer{
	margin: 1%;}